{% extends "base.html" %}
{% block head_title %} Welcome || {{block.super} {% endblock head_title %}

{% block content %}


<h1>Hello Nepal</h1>

<h3>
{{ block.super }}</h3>

<p>This is {{ html_var }} coming through.</p>


{% if bool_item %}
<p>Random Number is {{ num }} </p>
{% endif %}

<p>
	{% for some_item in some_list %}
		{% if some_item|divisibleby:"2" %}

		Even number

		{% endif %}

		{{ some_item }} <br>
	{% endfor %}
</p>

<p>Some item is {{ some_item }} </p>


{% endblock content %}
